// ** Colors

$Primary-color : rgba(238, 160, 43, 1) ;
$White-color : rgba(255, 255, 255, 1) ;
$White-color-2 : rgba(255, 255, 255, 0.8) ;
$Dark-color : rgba(40, 41, 61, 1) ;
$Dark-color-2 : rgba(45, 47, 69, 1) ;
$Border-color : rgba(110, 113, 152, 1) ;